<div class="home">
<%- include("partials/header") %>
<div class="all-post">

<% posts.forEach(function(post){ %> 
    <div class="post">
    <h1><%= post.title %></h1>
    <p>
        <%= post.body.substring(1,200)+ "..." %>
        <a href="/posts/<%=post.title %> ">Read more</a>
    
    </p> 
    </div>
    
<% }) %>
</div>
<%- include("partials/footer") %>
</div>